<% posts.forEach(function(post, index) { %>

 <div class="row" style="background:url(/img/profilebg.jpg) no-repeat; background-size: 100% 100%">
 	<div class="span6" style="float: none; display: block; margin-left: auto; margin-right: auto;">
 		<h2 style="text-align: center;"><a href="/u/<%= post.user %>"><%= post.user %>'s Profile</a></h2>
		<div style="position: relative; overflow:hidden;">
			<img style="width: 100%" src="/image/<%= post.user %>/<%= post.post.name %>" />
			<% comments.forEach(function(comment, index) { %>
			<div class="comment" style="word-break:keep-all; white-space:nowrap; overflow: hidden; text-overflow:ellipsis; position: absolute; top: 70%; left: 110%; opacity: 0.8;"><h2><p style="text-shadow: 1px 1px 1px #bbb;"><%= comment %></p></h2></div>
			<% }); %>
		</div>
 	</div>
</div>
<% }); %>
 
<% if (posts.length > 0 && isSelf) { %>
<div style="margin: 20px auto;">
	<form method="get" class="well form-inline center" style="text-align: center;">
		<input type="text;" name="delete" value="1" style="display: none;">
		Doesn't like this profile? Click the button on the right to remove it and upload a new picture! 
		<button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete My Profile</button>
	</form>
</div>
<% } %>

<% if (posts.length > 0) { %>
<div style="margin: 20px auto;">
	<form method="post" action="./<%= posts[0].user %>/comment" class="well form-inline center" style="text-align: center;">
		<input type="text" class="span8" name="comment" placeholder="What's your impression on me? Tell me!">
		<button type="submit" class="btn btn-info"><i class="icon-comment icon-white"></i>Send Impression</button>
	</form>
</div>
<% } %>